@page "/error/404"
<div class="page-background-class">
    <h1>Oops!</h1>
    <section id="fourOfourRouter">
        <h2>
            Couldn’t handle that page.
            Wheelie sorry!
        </h2>
        <div id="fourOfourRouterButtons">
            <button onclick="location.href='@Url.Action("Index","Home")'" id="fourOfourRouterContect"> Contact Us</button>
            <button onclick="location.href='@Url.Action("Index","Home")'" id="fourOfourRouterHome">Home</button>
        </div>
    </section>
</div>