/******************************************************************************************************************************* 
* general site css 
*******************************************************************************************************************************/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
main > img
{
    width:100%;
    height:auto;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #1A1C20;
    padding: 0;
    margin: 0;
}
button {
    color: #1A1C20;
    background: linear-gradient(180deg, #CF7500 -23.44%, #D4AF37 118.97%);
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
    button:hover {
        background: #DAC47D
    }
/******************************************************************************************************************************* 
* Header css 
*******************************************************************************************************************************/
/* Dropdown Button */
.site-logo {
    grid-area: logo;
    display:flex;
    align-items:center;
}

.logo {
    transition: 500ms;
}

    .logo:hover {
        transform: rotate(180deg);
    }

.header-searchbar {
    grid-area: search;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#headerSearch * {
    margin: 0;
    padding: 0;
}
#headerSearch {
    border: solid #1A1C20;
    width: 32.063rem;
    height: 3.313rem;
    display: flex;
    align-items: center;
    padding-inline: 1.313rem;
    border-radius: 0.237rem;
}
#headerSearch > input {
    width: 95%;
    border: transparent;
    background:transparent;
}
    #headerSearch > button {
        width: 5%;
        border: transparent;
        background-color: #FFFFFF;
    }
     #headerSearch > button:hover {
           background-color: lightgray;
     }
.header-actions {
    grid-area: actions;
    display: flex;
    align-items: center;
    gap: 3.125rem;
    justify-content: center;
}
/*header nav items*/
.header-nav {
    list-style: none;
    grid-area: nav-bar;
    height: 4.375rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5rem;
    width: 100%;
    padding-block: 1em;
    padding-inline: 0;
    margin-inline: 0;
    background: linear-gradient(180deg, #CF7500 -23.44%, #D4AF37 118.97%);
    padding: 0;
    margin: 0;
}
    .header-nav * {
        height: 4.375rem;
        width: 7.125rem;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black !important;
        border-top: 3px solid rgb(0,0,0,0);
        transition: 100ms;
    }
header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "logo search actions"
        "nav-bar nav-bar nav-bar";
    padding: 0;
    margin: 0;
}

.drop-button {
    cursor: pointer;
    padding-inline-start: 1em;
    height: 4.375rem;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
    .drop-button:hover {
        font-weight: 700;
        color: black;
    }
drop-down {
    display: flex;
    align-content: center;
}
/* Dropdown button on hover & focus */
.header-nav > *:hover:not(:first-child) {
    font-weight: 700;
    color:black;
}
.header-nav > *:hover {
    border-top: 3px solid black;
}

.dropdown-items.show {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 28rem;
    width: 27rem;
    border-block-end: solid black;
    border-inline-end: solid black;
    padding: 0;
    margin: 0;
    position: relative;
    top: -3px;
}
.dropdown-items.show * {
 display:flex;
 align-items:center;
 gap: 1em;
}
/* The container <div> - needed to position the dropdown content */
.drop-down {
    position: relative;
    display: inline-block;
    padding-inline: 0;
    margin-inline: 0;
   
}
#headerSearchButton
{
    background:transparent !important;
}
#headerSearchButton:hover {
    background: transparent !important;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-items {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-items a {
        color: black;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-items a:hover {
            text-decoration:underline;
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
    padding: 0;
    margin: 0;
}
.header-nav-link
{
    text-decoration:none;
    color:black;
    
}

/******************************************************************************************************************************* 
* footer css 
*******************************************************************************************************************************/
.footer-nav {
    grid-area: nav;
    display: flex;
    align-content: center;
    list-style: none;
    gap: 1.375rem;
}
.footer-socials {
    grid-area: socials;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:164px
}
footer > a
{
   position:absolute;
   right:3em;
}
footer {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav socials logo";
    padding-block-end: 0;
    margin-block-end: 0;
    position:absolute;
    bottom: 0;
    width:100%
}

/*things are wierd*/
#sideBar-ad {
    background-image: url('../ExtremeBicycleShop/ExtremeBicycleShop_V2/AdvertisementFreeShipping_TwoBikersPointing.png');
    width: 433px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:white;
    gap:25px;
}

/******************************************************************************************************************************* 
* 404 css 
*******************************************************************************************************************************/
.page-background-class {
    background-image: url(../ExtremeBicycleShop/ExtremeBicycleShop_V2/404Page_BackgroundHandleBars.png);
    width: 1728px;
    height: 694px;
    margin-block-end: 100px;
    border-block-end: solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.page-background-class h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 255.682px;
    line-height: 300px;
    color: #1A1C20;
    margin-inline-end:116px;
}

#fourOfourRouter {
    display: flex;
    flex-direction: column;
    width: 412px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    margin-block-end: 93px;
}
#fourOfourRouterButtons
{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:27px;
}
#fourOfourRouterContect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 176px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid #1A1C20;
    border-radius: 3px;
}
#fourOfourRouterContect:hover {
  font-weight:700;
}
#fourOfourRouterHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 176px;
    height: 58px;
}

/******************************************************************************************************************************* 
* product page css 
*******************************************************************************************************************************/

#product-page-row {
    display: flex;
    margin-block-end: 6rem;
}

#product-aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.product-heart-icon {
    height: 28px;
    width: auto;
}

#product-back {
    color: black;
    text-decoration: none;
}

    #product-back:hover {
        text-decoration: underline;
    }

.product-filter-heading, .product-filter-row {
    display: flex;
}

    .product-filter-row input {
        margin-inline-end: 12px;
    }

.product-filter-heading {
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    .product-filter-heading img {
        transition: all 0.1s linear;
    }

.product-filter {
    overflow: hidden;
}

.product-filter-content {
    height: 0;
    transition: all 0.2s linear;
}

#product-store-section {
    display: flex;
    flex-direction: column;
    flex: 8;
    padding-inline-start: 2rem;
}

#product-store-header {
    display: flex;
    justify-content: flex-end;
}

#p-store-header-content {
    display: flex;
    width: 10%;
    margin-block-start: 1rem;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
}

.product-title-row {
    display: flex;
    justify-content: space-between;
}

.product-li {
    list-style-type: none;
}

.product-card {
    display: block;
    width: 24rem;
    color: black;
    text-decoration: none;
}

    .product-card img {
        width: 100%;
        margin-block-end: 1rem;
    }

    .product-card .product-heart-icon {
        width: 25px;
        height: auto;
    }

    .product-card:hover {
        color: black;
    }

.product-down-arrow {
    width: 25px;
    height: auto;
}

/******************************************************************************************************************************* 
* product details css 
*******************************************************************************************************************************/
#details-page {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "detail-top detail-top"
        "image-area aside"
        "similar similar";
}

#details-main-img-container {
    position: relative;
}

#details-hover-container {
    position: absolute;
    top: 0;
    left: 110px;
    width: 200px;
    height: 200px;
    border: 10px solid gold;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
}

#details-hover-img {
    zoom: 2;
    transform: translate(-150px, 0px);
}

#details-hover-container:hover {
    opacity: 1;
}

#details-header {
    grid-area: detail-top;
}

    #details-header a {
        color: black;
        text-decoration: none;
    }

    #details-header a:hover {
        color: black;
        text-decoration: underline;
    }

#details-images {
    grid-area: image-area;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details-aside {
    grid-area: aside;
}

#details-similar-section {
    grid-area: similar;
}

#details-small-img-row {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

#details-small-img-row img {
    width: 23%;
}

#details-review-stars {
    display: flex;
    align-content: center;
    margin-inline-end: 1rem;
}

#details-review-stars img {
    height: 1.2rem;
    width: auto;
}

#details-aside-review-row {
    display: flex;
}

#details-aside-color-row {
    display: flex;
    flex-direction: row;
}

#details-aside-color-row > div {
    margin-inline-end: 0.5rem;
}

#details-aside-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#details-cart-btn {
    width: 80%;
    padding-block: 0.6rem;
    border: none;
    margin-block-start: 1rem;
}

#details-favorite-btn {
    width: 80%;
    background: none;
    margin-block: 1rem;
    padding-block: 0.4rem;
}

#details-favorite-btn img {
    height: 1.5rem;
    width: auto;
}

.details-aside-collapsible-row {
    display: flex;
    justify-content: space-between;
    margin-block: 0.5rem;
}

.details-aside-collapsible-row img {
    height: 1.5rem;
    width: auto;
}

#details-carousel-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 8rem;
    margin-block-start: 2rem;
    gap: 2rem;
    padding-inline: 2rem;
}

    #details-carousel-row img {
        margin-block-end: 1rem;
    }

.details-spacing-top {
    margin-block-start: 2rem;
}


#details-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

#details-modal-body {
    background-color: white;
    padding: 4rem;
    width: 30%;
    position: relative;
}

#details-modal-body, #details-modal-left-col, #details-modal-right-col {
    display: flex;
    flex-direction: column;
}

#details-modal-right-col {
    justify-content: space-between;
}

#details-modal-top-row, #details-modal-color-row, #details-modal-bottom-row {
    display: flex;
    flex-direction: row;
}

#details-modal-color-row {
    gap: 0.5rem;
    margin-block: 1rem;
}

#details-modal-top-row {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#details-modal-bottom-row {
    justify-content: space-between;
    margin-block-start: 2rem;
}

#details-modal-img {
    height: auto;
    width: 100%;
}

#details-modal a {
    background: linear-gradient(rgb(207, 117, 0) -23.44%, rgb(212, 175, 55) 118.97%);
    color: black;
    text-decoration: none;
}

#details-modal button {
    background: none;
    border-radius: 5px;

}

#details-modal button, #details-modal a {
    padding-inline: 10%;
    padding-block: 2%;
}
/******************************************************************************************************************************* 
* cart css 
*******************************************************************************************************************************/

/*reused details carousel here*/
#cart-page {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "cartTop cartTop"
        "cartMain cartAside"
        "similar similar";
}

#top-titles {
    grid-area: cartTop;
    display: flex;
    justify-content: space-between;
    margin: 5em 14.5em 1em 3em;
}

#cart-content {
    grid-area: cartMain;
    margin-bottom: 5em;
    display: flex;
}

.cart-info {
    display: flex;
    justify-content: space-between;
}

#quantity-border {
    border: 1px solid black;
}

.underline-style {
    text-decoration: underline;
}

#cart-adjust {
    margin-left: 3em;
    margin-right: 15em;
    margin-top: 3em;
}

#cart-aside {
    grid-area: cartAside;
}

.total-border {
    border-top: 1px solid black;
    margin-top: 1em;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-right: 1em;
}



/******************************************************************************************************************************* 
* checkout css 
*******************************************************************************************************************************/

#checkout-page {
    margin: 3em 15em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "checkOut checkCart";
}

#checkOutSection1 {
    grid-area: checkOut;
    margin-right: 10em;
    
    font-size: 20px;
}

#checkOutSection2 {
    grid-area: checkCart;
    margin-right: 15em;
}