@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="confirmationPage">
    <section class="ProfileInfo">
        <section id="ThankYouForTheOrder">
            <h1>Thank you for your order, Paola!</h1>
            <p>
                We sent an email receipt to <span>Paola.live@gmail.com</span> and will
                send an update once we ship your purchase if you are experiencing andy issues, contact
                <span>
                    support@extremecycle.com
                </span>
            </p>
            <button>
                Continue Shopping >
            </button>
        </section>
        <section id="billingInfo">
            <div>
                <h5>
                    Date
                </h5>
                <p>@DateTime.Now.ToString("MMMM"); @DateTime.Now.Day,@DateTime.Now.Year;</p>
            </div>
            <div>
                <h5>
                    PaymentMethod
                </h5>
                <p>Amex Card *3123</p>
            </div>
            <div>
                <h5>
                   Billing Address
                </h5>
                <p>Paola Aguilar</p>
                <p>
                    203 Haek Drive
                </p>
                <p>
                    Austin, TX 73301
                </p>
            </div>
            <div>
                <h5>
                   Shipping Address
                </h5>
                <p>Paola Aguilar</p>
                <p>
                    203 Haek Drive
                </p>
                <p>
                    Austin, TX 73301
                </p>
            </div>
        </section>
    </section>
    <section id="confirmOrder">
        <h2>Order Details</h2>
        <ul id="orderDetails">
            <li class="no-style">
                <p>Order Number </p>
                <span class="confirmation-underline">87362516253</span>
            </li>
            <li class="no-style">
                <p>Order Status </p>
                <span class="confirmation-underline">Not Yet Shipped</span>
            </li>
            <li class="no-style">
                <p>Deliver By </p>
                <span>Saturday,June 4</span>
            </li>
            <li class="no-style">
                <p>Deliver To </p>
                <span>Pala Aquilar</span>
            </li>
        </ul>
        <div id="orderItem">
            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Bikes_Trek3000.png" />
            </div>
            <div id="item-label">
                <div>
                    <span>Trek3000</span>
                    <span>$699.99</span>
                </div>
                
                <div>Turquoise</div>
                <div>Qty X</div>
            </div>
        </div>
        <div id="cost-calc-factors">
            <div><span>Subtotal</span> <span>$699.99</span></div>
            <div><span>Shipping</span> <span>Free</span></div>
            <div><span>Tax</span> <span>$55.98</span></div>
        </div>
        <div id="cost-total">
            <span class="cost-label">Total</span><span class="cost-item">$755.98</span>
        </div>
        <div id="confirmation-order-links-container">
            <a>Return Policy</a>
            <a>Print Order</a>
        </div>
    </section>
</section>