@model ExtremeBicycle.Models.DTO.ProductDTO
@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "Products";
    var products = Model.Context.Products
        .Include(p => p.ProductType)
        .Where(p => p.ProductType == Model.ProductType)
        .ToList();
}
<aside>

</aside>
<section>
    <div>
        <p>Sort By</p>
        <div>
            <i class="fa-solid fa-angle-down"></i>
        </div>
    </div>
    <ul class="product-list">
        @foreach (var product in products) {
            <li class="product-li">
                <div class="product-card">
                    <div class="product-img-container">
                        @if (product.ProductType.Picture != null) {
                            <img src="data:image/png;base64,@Convert.ToBase64String(product.ProductType.Picture)" alt="image invalid">
                        }
                        else {
                            <img src="#" alt="image for product not available">
                        }
                    </div>
                    <div class="product-title-row">
                        <h3>@product.ProductName</h3>
                        <div class="product-heart-container">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    @{
                        string price = String.Format("{0:C2}", Convert.ToInt32(product.PriceSRP));
                    }
                    <h3>@price</h3>
                    <p>nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel pharetra vel turpis nunc eget</p>
                </div>
            </li>
        }
    </ul>
</section>

