@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        position: relative;
        width: 1728px;
        height: 2651px;
        background: #FFFFFF
    }
    h1 {
        width: 271px;
        height: 60px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
    }
    h2 {
        width: 437px;
        height: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }
    h3 {
        width: 766px;
        height: 360px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }
    h4 {
        width: 286px;
        height: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }
    h5 {
        width: 766px;
        height: 360px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }
    h6 {
        width: 573px;
        height: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }
    #logo {
        width: 400px;
        height: 400px;
    }
    #cycler {
        width: 400px;
        height: 400px;
    }
    .gallery {
        position: absolute;
        width: 1728px;
        height: 1152px;
        left: 0px;
        top: 1392px;
    }
    #staring {
        position: absolute;
        width: 576px;
        height: 576px;
        left: 0px;
        top: 0px;
    }
    #sweater {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 576px;
        top: 0px;
    }
    #yellow {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 576px;
        top: 288px;
    }
    #green {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 864px;
        top: 0px;
    }
    #sky {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 864px;
        top: 288px;
    }
    #foggy {
        position: absolute;
        width: 576px;
        height: 576px;
        left: 1152px;
        top: 0px;
    }
    #trees {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 0px;
        top: 576px;
    }
    #needle {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 288px;
        top: 576px;
    }
    #right {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 0px;
        top: 864px;
    }
    #windmill {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 288px;
        top: 864px;
    }
    #orange {
        position: absolute;
        width: 576px;
        height: 576px;
        left: 576px;
        top: 576px;
    }
    #frame {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 1152px;
        top: 576px;
    }
    #two {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 1152px;
        top: 864px;
    }
    #sunset {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 1440px;
        top: 576px;
    }
    #shorts {
        position: absolute;
        width: 288px;
        height: 288px;
        left: 1440px;
        top: 864px;
    }
</style>

<h1>About Us </h1>

<h2>Your One Stop Shop For All Things Bikes</h2>

<h3>
    Welcome to Extreme Cycle!  We are dedicated to providing you with any bike item you may need for your first ride or your next cycle Speedway! Our passion for bicycles goes beyond the ride itself, as we are also committed to helping people gain knowledge, build community, and make everlasting memories along the way.

    Extreme Cycle is meant for all cyclists, so if you ever want recommendations for racing or need help picking the best starter bicycle, we are here for you. Thank you for stopping by, and we wish you success on your cycling adventures.
</h3>

<img id="logo" src="Logo (2).png" />

<h4>The One Who Started It All</h4>

<h5>
    We owe many thanks to our superhero and CEO, Reggie Miller. Once a player for the NBA, Reggie found his love and passion for cycling after taking a trip to France during the biggest cycling race, the Tour de France. Reggie started Extreme Cycle after his increasing love for a hobby.

    Now we are one of the biggest names in the cycling industry. You can now find Reggie on any mountain biking trail in the world. When he’s not on a trail or in a cycling race, he’s in our office curating the next launch of our website and designing his own bicycle brand.
</h5>

<h6>Check Out Our Employees'</h6>

<img id="cycler" src="The One Who Started It All Media Reggie Miller.png" />

<section class="gallery">
    
    <img id="staring" src="Biker Staring At White Top Mountain To Right.png" />
    <img id="sweater" src="Biker With Legs Up Wearing White Sweater.png" />
    <img id="yellow" src="Biker Staring Up At Yellow Leave Trees.png" />
    <img id="green" src="Biker Wearing Green Cloudy Blue Sky.png" />
    <img id="sky" src="Biker Silhouette Blue Sky.png" />
    <img id="foggy" src="Biker Riding Into Foggy Dark Road.png" />
    <img id="trees" src="Biker Surrounded By Green Trees.png" />
    <img id="needle" src="Biker Seatle Needle Background.png" />
    <img id="right" src="Biker Sitting With A Bike To Their Right.png" />
    <img id="windmill" src="Biker Widmill Background.png" />
    <img id="orange" src="Orange Bike Alone With Pink Sunset.png" />
    <img id="frame" src="Bike Right Side of Frame Moutain Scenery.png" />
    <img id="two" src="2 Bikers Riding Into Green Background.png" />
    <img id="sunset" src="Two Bikers Kissing Sunset.png" />
    <img id="shorts" src="Biker Wearing White Shorts On Road.png" />

</section>