@{
    ViewData["title"] = "About";
}
<main>
    <section id="textAndImages">
        <section class="textSection">
            <h1>About Us </h1>

            <h2>Your One Stop Shop For All Things Bikes</h2>

            <h3>
                Welcome to Extreme Cycle!  We are dedicated to providing you with any bike item you may need for your first ride or your next cycle Speedway! Our passion for bicycles goes beyond the ride itself, as we are also committed to helping people gain knowledge, build community, and make everlasting memories along the way. <br /><br />

                Extreme Cycle is meant for all cyclists, so if you ever want recommendations for racing or need help picking the best starter bicycle, we are here for you. Thank you for stopping by, and we wish you success on your cycling adventures.
            </h3>

            <h4>The One Who Started It All</h4>

            <h5>
                We owe many thanks to our superhero and CEO, Reggie Miller. Once a player for the NBA, Reggie found his love and passion for cycling after taking a trip to France during the biggest cycling race, the Tour de France. Reggie started Extreme Cycle after his increasing love for a hobby.<br /><br />

                Now we are one of the biggest names in the cycling industry. You can now find Reggie on any mountain biking trail in the world. When he’s not on a trail or in a cycling race, he’s in our office curating the next launch of our website and designing his own bicycle brand.
            </h5>

            <h6>Check Out Our Employees' Cycling Adventures Below</h6>
        </section>

        <div class="logo-circles">
            <img id="logo" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUs_YourOneStopShop.png" />
            <img id="cycler" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUs_TheOneWhoStartedItAll.png" />
        </div>
    </section>

    <section class="gallery">
        <div id="gallery-top-row">
            <img id="staring" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerStaringAtWhiteTopMountainToRight.png" />
            <div class="fourByFourImages">
                <img id="sweater" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerWithLegsUpWearingWhiteSweater.png" />
                <img id="yellow" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerStaringUpAtYellowLeaveTrees.png" />
                <img id="green" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerWearingGreenCloudyBlueSky.png" />
                <img id="sky" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerSilhouetteBlueSky.png" />
            </div>
            <img id="foggy" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerRidingIntoFoggyDarkRoad.png" />
        </div>
        <div id="gallery-bottom-row">
            <div class="fourByFourImages">
                <img id="trees" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerSurroundedByGreenTrees.png" />
                <img id="needle" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerSeatleNeedleBackground.png" />
                <img id="right" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerSittingWithABikeToTheirRight.png" />
                <img id="windmill" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerWidmillBackground.png" />
            </div>
            <img id="orange" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_OrangeBikeAloneWithPinkSunset.png" />
            <div class="fourByFourImages">
                <img id="frame" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikeRightSideofFrameMoutainScenery.png" />
                <img id="sunset" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_TwoBikersKissingSunset.png" />
                <img id="two" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_2BikersRidingIntoGreenBackground.png" />
                <img id="shorts" src="ExtremeBicycleShop\ExtremeBicycleShop_V2\AboutUsGallery_BikerWearingWhiteShortsOnRoad.png" />
            </div>
        </div>
    </section>
</main>


<style>
    body {
        /*  position: relative;
            width: 1728px; */
        min-height: 2270px;
        background: #FFFFFF;
        margin: auto;
        padding: 0;
    }
    /*h1 {
            width: 271px;
            height: 60px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 150%;
            color: #000000;
        }
        h2 {
            width: 437px;
            height: 36px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #000000;
        }
        h3 {
            width: 766px;
            height: 360px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #000000;
        }
        h4 {
            width: 286px;
            height: 36px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #000000;
        }
        h5 {
            width: 766px;
            height: 360px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #000000;
        }
        h6 {
            width: 573px;
            height: 36px;
            position: relative;
            left: 200px;
            top: 150px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #000000;
        }
        #logo {
            position: absolute;
            top: 300px;
            right: 3%;
            width: 400px;
            height: 400px;
        }
        #cycler {
            width: 400px;
            height: 400px;
            position: absolute;
            top: 800px;
            right: 3%;
            border-radius: 50%;
        }*/





    /*    .gallery {
            position: absolute;
            width: 100%;
            height: 1152px;
            left: 0px;
            top: 1392px;
        }*/

    /*#staring {
            position: absolute;
            width: 33%;
            height: 576px;
            left: 0px;
            top: 0px;
        }
        #sweater {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 576px;
            top: 0px;
        }
        #yellow {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 576px;
            top: 288px;
        }
        #green {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 864px;
            top: 0px;
        }
        #sky {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 864px;
            top: 288px;
        }
        #foggy {
            position: absolute;
            width: 33%;
            height: 576px;
            left: 1152px;
            top: 0px;
        }
        #trees {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 0px;
            top: 576px;
        }
        #needle {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 288px;
            top: 576px;
        }
        #right {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 0px;
            top: 864px;
        }
        #windmill {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 288px;
            top: 864px;
        }
        #orange {
            position: absolute;
            width: 33%;
            height: 576px;
            left: 576px;
            top: 576px;
        }
        #frame {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 1152px;
            top: 576px;
        }
        #two {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 1152px;
            top: 864px;
        }
        #sunset {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 1440px;
            top: 576px;
        }
        #shorts {
            position: absolute;
            width: 16.5%;
            height: 288px;
            left: 1440px;
            top: 864px;
        }*/


    .textSection {
        padding-inline-start: 5em;
        width: 54%;
        margin-inline-end: 7em;
        padding-top: 6em;
    }

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
    }

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }

    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }

    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }

    h5 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
    }

    h6 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
        margin-top: 24px;
        margin-bottom: 12px;
    }

    #textAndImages {
        width: 100%;
        display: flex;
    }

    .logo-circles {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding-top: 10em;
        margin-inline-end: 5em;
        width: 25%;
    }

    #logo {
        border-radius: 50%;
    }

    #cycler {
        border-radius: 50%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;
    }

        .gallery * {
            padding: 0;
            margin: 0;
        }

    #gallery-top-row, #gallery-bottom-row {
        width: 100%;
        display: flex;
        gap: 0;
    }

        #gallery-top-row > *, #gallery-bottom-row > * {
            width: 33.33%;
        }

    .fourByFourImages > * {
        width: 50%;
    }

    .fourByFourImages {
        display: flex;
        flex-wrap: wrap;
        gap: inherit;
    }
</style>