@{
    var searchedText = this.Context.Session.GetString("searched");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExtremeBicycle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExtremeBicycle.styles.css" asp-append-version="true" />
</head>
@{
    var loggedInFlag = ExtremeBicycle.Controllers.SesionManager.loggedIn();
}
<body>
    <header>
        <a class="site-logo" asp-area="" asp-controller="Home" asp-action="index"><img class="logo" src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Logo.svg" alt="Extreme Cycle Logo" /></a>
        <form class="header-searchbar" asp-controller="home" asp-action="find">
            <div id="headerSearch">
                <input type="search" value="@searchedText" name="text" placeholder="Search Extreme Cycle" name="search">
                <button id="headerSearchButton" type="submit"><img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Search.png" alt="search Icon" /></button>
            </div>
        </form>
        <div class="header-actions">
            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Heart.png" alt="heart icon" />
            @if(loggedInFlag)
            {
                <img id="account" class="" src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/ProfileLoggedIn.png" />
            }
            else
            {
                <a asp-action="Login">
                    <img id="account" class="" src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Profile.png" />
                </a>

            }
            <section> <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ShoppingCart.png" alt="shopping" /> <span>Cart</span></section> 
        </div>
        <ul class="header-nav">
            <li class="drop-down">
                <a class="drop-button">Shop</a>
                <div class="dropdown-items">
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Bikes">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Bikes.png" alt="bike icon" />
                            <figcaption>Bikes</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Type" asp-route-id="5">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Gloves.png" alt="glove icon" />
                            <figcaption>Gloves</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Type" asp-route-id="6">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Helmets.png" alt="Helmet icon" />
                            <figcaption>Helmets</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Type" asp-route-id="4">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Tricycle.png" alt="Tricycle icon" />
                            <figcaption>Kids Bikes</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Type" asp-route-id="7">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Locks.png" alt="lock icon" />
                            <figcaption>Locks</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="Admin" asp-controller="Products" asp-action="Type" asp-route-id="8">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Saddles.png" alt="bike seat icon" />
                            <figcaption>Saddles</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Earth.png" alt="Earth icon" />
                            <figcaption>Earth Day Sale</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Sale.png" alt="sale icon" />
                            <figcaption>Final Sale</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Community</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Faqs">FAQs</a>
            </li>
        </ul>
        @await RenderSectionAsync("Header", required: false)
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
            @RenderSection("Styles", required: false)
        </main>
    </div>

    <footer>
        <ul class="footer-nav">
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Find">Shop</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Community</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Faqs">FAQs</a>
            </li>
        </ul>
        <div class="footer-socials">
            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/InstagramIcon.png" alt="instagram" />
            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/FacebookIcon.png" alt="facebook" />
            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/TwitterIcon.png" alt="instagram" />
            <p>&copy; 2023 Extreme Cycle</p>   
        </div>
        <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Logo.svg" alt="Extreme Cycle Logo" /></a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
