<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExtremeBicycle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExtremeBicycle.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="images/Logo.png" alt="Extreme Cycle Logo" /></a>
        <form class="header-searchbar" action="post">
            <div id="headerSearch">
                <input type="search" placeholder="Search Extreme Cycle" name="search">
                <button type="submit"><img src="images/searchIcon.png" alt="search Icon" /></button>
            </div>
        </form>
        <div class="header-actions">
            <img src="images/HeartIcon.png" alt="heart icon" />
            <img id="account" class="" src="images/blankUser.png" />
            <img src="images/shoppingCart.png" alt="shopping" />
        </div>
        <ul class="header-nav">
            <li class="drop-down">
                <p class="drop-button">Shop</p>
                <div class="dropdown-items">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Bikes.png" alt="bike icon"/>
                            <figcaption>Bikes</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Gloves.png" alt="glove icon" />
                            <figcaption>Gloves</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Helmets.png" alt="Helmet icon" />
                            <figcaption>Helmats</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Tricycle.png" alt="Tricycle icon" />
                            <figcaption>kids Bikes</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Bikes.png" alt="bike icon" />
                            <figcaption>Bikes</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Locks.png" alt="lock icon" />
                            <figcaption>Locks</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Icon_Saddles.png" alt="bike seat icon" />
                            <figcaption>Saddles</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Earth Day Sale.png" alt="Earth icon" />
                            <figcaption>Earth Day Sale</figcaption>
                        </figure>
                    </a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <figure>
                            <img src="images/Final_Sale.png" alt="sale icon" />
                            <figcaption>Final Sale</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Community</a>
            </li>
            <li class="">
                <a class="header-nav-link" asp-area="" asp-controller="Home" asp-action="Index">FAQs</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ExtremeBicycle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
